body {
  background-color: #838383;
  color: white;
  margin-left: 200px;
}

code {
  color: white;
}

#inputLabel {
  font-size: 45px;
}

#editor {
  color: black;
  height: 200px;
  width: 90%;
  position: relative;
}

h1 {
  font-size: 35px;
}
