body {
  text-align: center;
}

body ul {
  text-align: left;
}

h1 {
  font-size: 60px;
}

input {
  margin: auto;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  padding: 15px 30px 14px 30px;
  display: inline-block;
  margin-top: 10px;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}