body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: auto;
  width: 50%;
  background-color: black;
}

#display {
  height: 30vh;
  display: flex;
  font-size: 60px;
  padding-top: 35px;
  color: white;
}

#display h2 {
  padding-top: 40px;
}

h1, h2 {
  color: white;
}

#board {
  margin: auto;
  width: 100%;
  cursor: pointer;
}

#controls {
  clear: both;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}

.btn {
  padding: 10px;
}

.drum-pad {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 90px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  justify-content: center;
  text-align: center;
  width: 90px;
  padding-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

